* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: fixed;
    width: 100%;
    height: 100%;
}


body {
    background-image: linear-gradient(to top, #0A4D68, #088395, #05BFDB, #0A4D68);
    background-attachment: fixed;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.triforce {
    margin-top: 30px;
    width: 80px;
    height: auto;
}

.criadores {
    width: 130px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.nomes-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.bloco {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.zelda-container {
    margin: 0 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .zelda-container a {
        display: block;
        max-width: 250px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .zelda-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .zelda-container:hover {
        transform: scale(1.02);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
.banner .clouds {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 90px;
}

    .banner .clouds img {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-bottom: -480px;
        max-width: 100%;
        animation: animate calc(8s * var(--i)) linear infinite;
    }

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
@media screen and (max-width: 768px){
    .banner .bloco ..zelda-container .triforce{
        width:100%;
        flex-direction: column;
    }
}