* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: fixed;
    width: 100%;
    height: 100%;
}


body {
    background-image: linear-gradient(to top, #004c4c, #66b2b2, #66b2b2, #006666);
    background-attachment: fixed;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.triforce {
    margin-top: 30px;
    width: 60px;
    height: auto;
}

.criadores {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.nomes-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.bloco {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.zelda-container {
    margin: 0 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

    .zelda-container a {
        display: block;
        max-width: 250px;
        transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
    }

    .zelda-container img {
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
        vertical-align: middle;
    }

    .zelda-container:hover {
        transform: scale(1.20);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

