@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #000;
}

.content {
    position: relative;
    margin-bottom: 50px;
}

    .content h2 {
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 6em;
        white-space: nowrap;
    }
        .content h2:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 2px #17b594;
        }
        .content h2:nth-child(2) {
            color: #17b594;
            animation: animate 4s ease-in-out infinite;
        }
@keyframes animate
{
    0%,100% {
        clip-path: polygon(0 40%, 21% 41%, 35% 53%, 53% 63%, 75% 60%, 91% 55%, 100% 50%, 100% 100%, 0% 99%);
    }
    50% {
        clip-path: polygon(0 66%, 18% 72%, 41% 69%, 59% 59%, 75% 46%, 93% 39%, 100% 38%, 100% 100%, 0% 99%);
    }
}

.bloco {
    display: flex;
    justify-content: center;
}

.zelda-container {
    margin: 0 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

    .zelda-container a {
        display: block;
        max-width: 250px;
        transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
    }

    .zelda-container img {
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
        vertical-align: middle;
    }

    .zelda-container:hover {
        transform: scale(1.20);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
